body {
    background-color: peachpuff;
  }
  
  .box {
    display: inline-block;
    border: 1px solid black;
    width: 15px;
    height: 15px;
    margin-left: -1px;
    margin-bottom: -1px;
  }
  
  .off {
    background-color: lightgray;
  }
  
  .on {
    background-color: green;
  }
  
  .box:hover {
    background: #00ccff;
  }
  
  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .buttons {
    width: 600px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
  }
  
  h1,
  h2,
  h3,
  h4 {
    color: white;
    margin: auto;
    text-align: center;
    width: 50%;
    margin-top: 10px;
  }
  
  h4 {
    margin-top: 0px;
  }